/* Select readable font and text/background colors with good contrast. To search for different Google Fonts, go to https://www.w3schools.com/howto/howto_google_fonts.asp */

body, html {
  width: 100%;
  margin: 0;
  background-image: url(images/bg.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
} 

/*.center {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  justify-content: space-evenly;
  align-content: center;
}*/

#hands {
  position: absolute;
  left: 50vh;
  top: 25vh;
}

#text {
  position: absolute;
  left: 50vh;
  top: 35vh;
}

#verse1, #verse2, #verse3 {
  position: absolute;
  left: 50vh;
  top: 35vh;
  background-image: none;
}

a, p {
  text-decoration: none;
  color: white;
  font-size: 40px;
  font-style: italic;
}

p {
  text-decoration: none;
  color: white;
  font-size: 40px;
  font-style: italic;
}

a:hover {
  text-decoration: none;
  color: white;
  font-size: 40px;
  font-style: italic;
  
}

a:hover {
  transition: 1s;
  text-shadow: 0 0 30px #ffffff;
  }
a:not(:hover) {
  transition: 1s;
}

audio { display:none;}
